  /* General Page Styling */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1; /* send video behind everything */
}

/* Glassmorphic Container */
.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 350px;
  text-align: center;
  padding: 0px 25px;
  color: #fff;
}

/* Header Styling */
h1 {
  font-size: 26px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}

/* Search Section */
.search-section {
  margin-bottom: 25px;
}

#city-input {
  padding: 10px;
  width: calc(100% - 110px);
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 8px;
  font-size: 15px;
  transition: all 0.3s ease;
}

#city-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

#city-input:focus {
  background: rgba(255, 255, 255, 0.3);
}

/* Button Styling */
#search-btn {
  margin: 25px 0px 0px 0px;
  padding: 10px 15px;
  cursor: pointer;
  background:rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

#search-btn:hover {
  background: linear-gradient(135deg, #7226FF, #F042FF,#FFE5F1);
  transform: scale(1.05);
}

/* Weather Info */
.weather-info {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.weather-info p {
  margin: 8px 0;
  color: #f0f0f0;
  font-size: 16px;
}

#temperature {
 font-size: 36px;
 margin-bottom: 10px;
font-weight: bold;

}

#weather-description {
 font-size: 18px;
 margin-bottom: 20px;
font-weight: bold; }

 #city-name {
 font-size: 24px;
 font-weight: bold;
 margin-bottom: 10px; }

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 25px 20px;
  }

  #city-input {
    width: 100%;
    margin-bottom: 10px;
  }

  #search-btn {
    width: 100%;
  }
}

h2{
  color: #ffffff;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.9);
}

.forecast-days{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.day-card {
    background: linear-gradient(180DEG,#FF82F3,#7B13FF);
    font-size: 12px;
    font-weight: bold;
    line-height:22px ;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 8px;
    margin-bottom: 20px;
}

